html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: 200px;
}

.header-spacer {
    padding-top: 64px;
}

.scaling-svg-container {
    position: relative;
    height: 0;
    width: 100%;
    padding: 0;
    padding-bottom: 100%;
    /* override this inline for aspect ratio other than square */
    svg {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }
}

.site-footer {
    background-color: map-get($colors, grey-700);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    color: map-get($colors, grey-400);
    padding-top: 20px;
    ul {
        list-style: none;
        padding: 0;
    }
    a {
        color: white;
    }
}