{% raw %}
<div>
    <div class="controls">

    <div class="wheel-bg"></div>
    <div id="controls-bg" class=""></div>

    <div class="wheel-cont">

        <div id="wheel" data-filter-group="stage">
            <div class="wheel__circle"></div>
            <div id="step1" class="step1 node active-node filter-control" data-filter=".stage-1">
                <div class="node-content">
                    <div class="node-bg"></div>
                    <div class="node-text">
                        <div class="node-text__stage">1</div>
                        <div>Discovery</div>
                    </div>
                </div>
            </div>
            <div id="step2" class="step2 node filter-control" data-filter=".stage-2">
                <div class="node-content">
                    <div class="node-bg"></div>
                    <div class="node-text">
                        <div class="node-text__stage">2</div>
                        <div>Analysis</div>
                    </div>
                </div>
            </div>
            <div id="step3" class="step3 node filter-control" data-filter=".stage-3">
                <div class="node-content">
                    <div class="node-bg"></div>
                    <div class="node-text">
                        <div class="node-text__stage">3</div>
                        <div>Writing</div>
                    </div>
                </div>
            </div>
            <div id="step4" class="step4 node filter-control" data-filter=".stage-4">
                <div class="node-content">
                    <div class="node-bg"></div>
                    <div class="node-text">
                        <div class="node-text__stage">4</div>
                        <div class="node-text--multilined">Submission <br>& Peer Review</div>
                    </div>
                </div>
            </div>
            <div id="step5" class="step5 node filter-control" data-filter=".stage-5">
                <div class="node-content">
                    <div class="node-bg"></div>
                    <div class="node-text">
                        <div class="node-text__stage">5</div>
                        <div>Publication</div>
                    </div>
                </div>
            </div>
            <div id="step6" class="step6 node filter-control" data-filter=".stage-6">
                <div class="node-content">
                    <div class="node-bg"></div>
                    <div class="node-text">
                        <div class="node-text__stage">6</div>
                        <div>Promotion</div>
                    </div>
                </div>
            </div>
            <div id="step7" class="step7 node filter-control" data-filter=".stage-7">
                <div class="node-content">
                    <div class="node-bg"></div>
                    <div class="node-text">
                        <div class="node-text__stage">7</div>
                        <div>Assessment</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="list-cont">
        <h3>Services</h3>
        <div class="list">
            <div id="placeHolder" style="display: none;">No results</div>
            <div id="listItems"></div>
        </div>
    </div>
    
    <div class="filters-cont">
        <h3 class="text-right">Service Key</h3>
        <div class="filters">
            <div class="radio-group text-right" data-filter-group="serviceType">
                <div class="radio filter filter--aTool">
                    <small>
                        <span class="highlight highlight-aTool">Tool or Product</span>
                    </small>
                </div>
                <div class="radio filter filter--info">
                    <small>
                        <span class="highlight highlight-info-general">Learning service</span>
                    </small>
                </div>
                <div class="radio filter filter--policy">
                    <small>
                        <span class="highlight highlight-policy">Policy-based service</span>
                    </small>
                </div>
            </div>
        </div>
    </div>

    

</div>
</div>
<div id="modals"></div>

<script id="entry-template" type="text/x-handlebars-template">
    {{#each service}}
    <div class="list-item {{serviceType}} {{serviceProvider}} {{#each serviceStages}}{{this}} {{/each}}" data-toggle="modal" data-target="#{{serviceId}}-modal">{{serviceName}}{{#if serviceSubs}}<br><span class="list-item__serviceSubs">{{serviceSubs}}</span>{{/if}}</div>
    {{/each}}
</script>

<script id="serviceModal-template" type="text/x-handlebars-template">
    {{#each service}}
    <div class="modal fade" id="{{serviceId}}-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{serviceName}}</h4>
                </div>
                <div class="modal-body">
                    <p>{{serviceDescription}}</p>
                    {{#if serviceLink}}
                    <a href="{{serviceLink}}">Go to the {{serviceName}} site</a>
                    {{/if}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</script>

<script>// IMPORTANT: Greensock animation library may need to be licensed. Please check here: https://greensock.com/licensing/
// An alternative animation library called Velocity.js could be used in Greensocks's place - this comes with an MIT license.

// handlebars - create list items

// get placeholder divs
var list = $("#listItems"),
    modals = $("#modals");
// get templates wrapped in scripts tags
var source = $("#entry-template").html(),
    modalSource = $("#serviceModal-template").html();
// compile template with handlebars
var template = Handlebars.compile(source),
    modalTemplate = Handlebars.compile(modalSource);
// create data
var context = {
        "service": [
 {
   "serviceId": 41,
   "serviceName": "Altmetric Service",
   "serviceSubs": "",
   "serviceType": "aTool",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-6",
      "stage-7",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 1,
   "serviceName": "Article Discovery Tools",
   "serviceSubs": "Anywhere Article, ReadCube PDF, Journal Apps, Article Indexing, Research4Life",
   "serviceType": "aTool",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-1",
      "stage-6",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 40,
   "serviceName": "Article Share",
   "serviceSubs": "",
   "serviceType": "aTool",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-6",
      "",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 3,
   "serviceName": "Author Compliance Tool",
   "serviceSubs": "",
   "serviceType": "aTool",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-4",
      "",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 5,
   "serviceName": "Author Licensing",
   "serviceSubs": "",
   "serviceType": "aTool",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-4",
      "stage-5",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 8,
   "serviceName": "Automated Production",
   "serviceSubs": "",
   "serviceType": "aTool",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-5",
      "",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 10,
   "serviceName": "CHORUS",
   "serviceSubs": "",
   "serviceType": "aTool",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-4",
      "stage-5",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 43,
   "serviceName": "Citation Tracking",
   "serviceSubs": "",
   "serviceType": "aTool",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-7",
      "",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 11,
   "serviceName": "Colour Charges",
   "serviceSubs": "",
   "serviceType": "aTool",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-5",
      "",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 12,
   "serviceName": "Cover Service",
   "serviceSubs": "",
   "serviceType": "aTool",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-5",
      "stage-6",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 14,
   "serviceName": "Data Sharing Service",
   "serviceSubs": "",
   "serviceType": "aTool",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-3",
      "stage-4",
      "stage-5",
      "stage-6",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 17,
   "serviceName": "Funder Picker Tool",
   "serviceSubs": "",
   "serviceType": "aTool",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-4",
      "",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 20,
   "serviceName": "Journal Finder",
   "serviceSubs": "",
   "serviceType": "aTool",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-3",
      "stage-4",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 42,
   "serviceName": "Kudos",
   "serviceSubs": "",
   "serviceType": "aTool",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-6",
      "stage-7",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 22,
   "serviceName": "Online Submission",
   "serviceSubs": "",
   "serviceType": "aTool",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-4",
      "",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 23,
   "serviceName": "Open Access",
   "serviceSubs": "",
   "serviceType": "aTool",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-4",
      "stage-5",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 24,
   "serviceName": "ORCID",
   "serviceSubs": "",
   "serviceType": "aTool",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-4",
      "stage-6",
      "stage-7",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 25,
   "serviceName": "Overleaf",
   "serviceSubs": "",
   "serviceType": "aTool",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-3",
      "",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 26,
   "serviceName": "Page Charges",
   "serviceSubs": "",
   "serviceType": "aTool",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-5",
      "",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 27,
   "serviceName": "PMC Deposition",
   "serviceSubs": "",
   "serviceType": "aTool",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-5",
      "",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 28,
   "serviceName": "Production Tracking",
   "serviceSubs": "",
   "serviceType": "aTool",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-5",
      "",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 30,
   "serviceName": "Publons",
   "serviceSubs": "",
   "serviceType": "aTool",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-4",
      "stage-6",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 36,
   "serviceName": "Transferable Peer Review",
   "serviceSubs": "",
   "serviceType": "aTool",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-4",
      "",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 37,
   "serviceName": "Video Abstracts",
   "serviceSubs": "",
   "serviceType": "aTool",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-6",
      "",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 38,
   "serviceName": "Wiley Editing Services",
   "serviceSubs": "",
   "serviceType": "aTool",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-3",
      "stage-4",
      "",
      "",
      ""
   ],
   "serviceDescription": "Offering expert help in English language editing, translation, manuscript formatting and figure preparation, Wiley Editing Services ensures that your manuscript is ready for submission.",
   "serviceLink": "https://authorservices.wiley.com"
},
 {
   "serviceId": 39,
   "serviceName": "Wiley OA Accounts",
   "serviceSubs": "",
   "serviceType": "aTool",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-4",
      "stage-5",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 6,
   "serviceName": "Author Webinar Series",
   "serviceSubs": "",
   "serviceType": "info",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-3",
      "",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 7,
   "serviceName": "Author Workshops",
   "serviceSubs": "",
   "serviceType": "info",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-3",
      "",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 15,
   "serviceName": "Editor Resources",
   "serviceSubs": "",
   "serviceType": "info",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-4",
      "",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 18,
   "serviceName": "How to Blog Series",
   "serviceSubs": "",
   "serviceType": "info",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-3",
      "stage-4",
      "stage-5",
      "stage-6",
      "stage-7"
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 21,
   "serviceName": "Mentorship Program",
   "serviceSubs": "",
   "serviceType": "info",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-4",
      "",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 33,
   "serviceName": "Researcher Academy",
   "serviceSubs": "",
   "serviceType": "info",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-3",
      "",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 4,
   "serviceName": "Author Guidelines",
   "serviceSubs": "",
   "serviceType": "info info-specific",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-4",
      "",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 16,
   "serviceName": "Ethics Guidelines",
   "serviceSubs": "",
   "serviceType": "info info-specific",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-3",
      "stage-4",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 29,
   "serviceName": "Promotional Toolkit",
   "serviceSubs": "",
   "serviceType": "info info-specific",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-6",
      "",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 34,
   "serviceName": "Reviewer Resources",
   "serviceSubs": "",
   "serviceType": "info info-specific",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-4",
      "",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 13,
   "serviceName": "Data Sharing Policy",
   "serviceSubs": "",
   "serviceType": "policy",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-3",
      "stage-4",
      "stage-5",
      "stage-6",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 35,
   "serviceName": "Self-archiving Policy",
   "serviceSubs": "",
   "serviceType": "policy",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-5",
      "",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 9,
   "serviceName": "ChemPlanner",
   "serviceSubs": "",
   "serviceType": "rTool",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-1",
      "",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
},
 {
   "serviceId": 44,
   "serviceName": "Wiley Spectra Lab",
   "serviceSubs": "",
   "serviceType": "rTool",
   "serviceProvider": "wiley",
   "serviceStages": [
      "stage-1",
      "",
      "",
      "",
      ""
   ],
   "serviceDescription": "",
   "serviceLink": ""
}
]
    }
    //make the stuff! pass the data INTO the template and ADD to the placeholders
list.html(template(context));
modals.html(modalTemplate(context));

var i, j, k,
    allNodes = document.getElementsByClassName("node"),
    allLists = document.getElementsByClassName("step-list");

function getPosition(elementToFind, arrayElements) {
    var i;
    for (i = 0; i < arrayElements.length; i += 1) {
        if (arrayElements[i] === elementToFind) {
            return i;
        }
    }
    return null; //not found
}

function angleToRotateBy(x, y) {
    var a = (x * Math.PI / 180) - Math.PI;
    var b = (y * Math.PI / 180) - Math.PI;
    return Math.atan2(Math.sin(b - a), Math.cos(b - a)) * (180 / Math.PI);
}

function rotateWheel(x) {
    // convert variable to cumulative tween
    var addX = "+=" + x;
    var minusX = "-=" + x;
    // execute tween
    TweenLite.to(wheel, 0.5, {
        rotation: addX
    });
    TweenLite.to(".node", 0.5, {
        rotation: minusX
    });
}

for (i = 0; i < allNodes.length; i++) {

    var thisNode = allNodes[i];

    thisNode.onclick = function() {

        //find index of current selected node
        var currentActiveNode = document.getElementsByClassName("active-node")[0],
            currentActiveNodeIndex = getPosition(currentActiveNode, allNodes),
            currentActiveNodeAngle = (360 / 7) * currentActiveNodeIndex;

        //remove/add the active class to node and lists
        for (j = 0; j < allNodes.length; j++) {
            allNodes[j].classList.remove("active-node")
        }
        this.classList.add("active-node")       
        

        //find index of clicked node and compute its angle position
        var thisNodeIndex = getPosition(this, allNodes),
            thisNodeAngle = (360 / 7) * thisNodeIndex;

        //find rotation direction
        var rotateBy = angleToRotateBy(currentActiveNodeAngle, thisNodeAngle);

        //rotate diagram if needed
        if (!(rotateBy === 0)) {
            rotateWheel(rotateBy);
        }

    }
}

// external js: isotope.pkgd.js

// init Isotope
var $grid = $('.list').isotope({
    itemSelector: '.list-item',
    layoutMode: 'masonry',
    hiddenStyle: {
        opacity: 0
    },
    visibleStyle: {
        opacity: 1
    }
});

// store filter for each group
var filters = {};

$('.controls').on('click', '.filter-control', function() {
    var $this = $(this);
    // get group key
    var $buttonGroup = $this.parents('.radio-group');
    var filterGroup = $buttonGroup.attr('data-filter-group');
    // set filter for group
    filters[filterGroup] = $this.attr('data-filter');
    // combine filters
    var filterValue = concatValues(filters);
    // set filter for Isotope
    $grid.isotope({
        filter: filterValue
    });
});

// change is-checked class on buttons
// $('.radio-group').each(function(i, buttonGroup) {
//     var $buttonGroup = $(buttonGroup);
//     $buttonGroup.on('click', 'button', function() {
//         $buttonGroup.find('.is-checked').removeClass('is-checked');
//         $(this).addClass('is-checked');
//     });
// });

// flatten object by concatting values
function concatValues(obj) {
    var value = '';
    for (var prop in obj) {
        value += obj[prop];
    }
    return value;
}

//return number of visible items
var iso = $grid.data('isotope');
$grid.isotope('on', 'layoutComplete', function() {
    var numItems = iso.filteredItems.length;
    if (numItems > 0) {
        placeHolder.style.display = "none";
    } else {
        placeHolder.style.display = "block";
    }
});

// simulate click on step 1 - couldn't work out how to initiate filters properly on load.
document.getElementById("step1").click();
</script>
{% endraw %}