#wrt-home-contact {
    position: relative;
    background-color: map-get($colors, teal);
    padding-top: 64px;
    padding-bottom: 64px;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("/assets/img/speech-bubble-ellipsis.svg");
        opacity: 0.2;
        background-position: left;
        background-repeat: no-repeat;
        background-size: 1000px;
    }
    svg {
        * {
            stroke: white;
        }        
    }
}