#wrt-home-about {
    position: relative;
    background-color: map-get($colors, grey-300);
    padding-top: 64px;
    padding-bottom: 64px;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url($baseurl + "/assets/img/lightbulb.svg");
        opacity: 0.2;
        background-position: right;
        background-repeat: no-repeat;
        background-size: 1000px;
    }
    svg {
        * {
            stroke: map-get($colors, grey-500);
        }        
    }
}