#login-overlay {
	position: fixed;
	z-index: 100000;
	background-color: #EFEFF0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding-top: 30px;
	&.hidden {
		display: none;
	}
}