.page-hero {
	height: 200px;
	width: 100%;
	background-image: url($baseurl + "/assets/img/powerpoint-hero.jpg");
	background-size: cover;
	background-position: center;
	margin-bottom: 20px;
	&.page-hero--competitor {
		background-image: url($baseurl + "/assets/img/competitor-hero.jpg");		
	}
	&.page-hero--interactive {
		background-image: url($baseurl + "/assets/img/interactive-hero.jpg");		
	}
	.page-hero--title {
		margin-top: 50px;
		font-size: 48px;
		color: white;
		text-shadow: 0 0 4px rgba(0,0,0,1);
	}
}