---
layout: default
---

<div id="wrt-home-intro">

    <div class="container">
        
        <div id="hero-bg"></div>

        <div class="row">

            <div class="col-md-8 col-md-offset-2">

                <div class="home-intro__heading text-center">
                    <span class=""><small>Welcome to</small><br>the Wiley Researcher Tools Author Services Maps</span>
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-4">

                <div class="home-intro__card panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h2><a href='{{ "/interactive-map/" | relative_url}}'>Interactive Map</a></h2>
						</div>
                        
                        <div class="text-center"><a href="{{ '/interactive-map/' | relative_url}}" class="w-btn w-btn--fill">View</a></div>
                        
                    </div>
                </div>



            </div>

            <div class="col-md-4">

                <div class="home-intro__card panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h2><a href='{{ "/static-map/" | relative_url}}'>Static Map</a></h2>
						</div>
						
						<div class="text-center"><a href="{{ '/static-map/' | relative_url}}" class="w-btn w-btn--fill">View</a></div>
                    </div>
                </div>

            </div>
            
            <div class="col-md-4">

                <div class="home-intro__card panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h2><a href='{{ "/powerpoint-map/" | relative_url}}'>PowerPoint Summary</a></h2>
						</div>
						
						<div class="text-center"><a href="{{ '/powerpoint-map/' | relative_url}}" class="w-btn w-btn--fill">View</a></div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

<div id="wrt-home-about">

    <div class="container">

        <div class="row">

            <div class="col-md-4">
                <div class="row">
                
                    <div class="col-xs-6 col-xs-push-3 col-md-8 col-md-push-2">
                        <div class="scaling-svg-container home-svg-icons">{% include lightbulb.svg %}</div>
                    </div>
                
                </div>
            </div>

            <div class="col-md-8">
                <div class="well">
                    
                    {% include about-copy.html %}
                
                </div>
            </div>

        </div>

    </div>

</div>

<div id="wrt-home-contact">

    <div class="container">

        <div class="row">

            <div class="col-md-4 col-md-push-8">
                <div class="row">
                
                    <div class="col-xs-6 col-xs-push-3 col-md-8 col-md-push-2">
                        <div class="scaling-svg-container home-svg-icons">{% include speech-bubble-ellipsis.svg %}</div>
                    </div>
                
                </div>
            </div>

            <div class="col-md-8 col-md-pull-4">
                <div class="well">
                
                {% include contact-copy.html %}
                
                </div>
            </div>

        </div>

    </div>

</div>

<script src="{{ '/assets/js/blur-bg.js' | relative_url}}"></script>

<!--
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href='{{ "/feed.xml" | relative_url }}'>via RSS</a></p>-->
